!!! 5

/[if IE 8]
  %html.no-js.lt-ie9{ lang: "en" }
/[if gt IE 8]
  %html.no-js{ :lang => "en" }

%head
  %meta{ charset: "utf-8" }
  %meta{ name: "viewport", content: "width=device-width" }
  %title Foundation 4

  %link{ rel: "stylesheet", href: "stylesheets/normalize.css" }
  %link{ rel: "stylesheet", href: "stylesheets/app.css" }

  %script{ src: "javascripts/vendor/custom.modernizr.js" }

%body

  = yield

  :javascript
    document.write('<script src=' +
    ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
    '.js><\/script>')  
    
  %script{ src: "javascripts/foundation/foundation.js" }
  %script{ src: "javascripts/foundation/foundation.clearing.js" }
  %script{ src: "javascripts/foundation/foundation.magellan.js" }
  %script{ src: "javascripts/foundation/foundation.forms.js" }
  %script{ src: "javascripts/foundation/foundation.cookie.js" }
  %script{ src: "javascripts/foundation/foundation.orbit.js" }
  %script{ src: "javascripts/foundation/foundation.alerts.js" }
  %script{ src: "javascripts/foundation/foundation.topbar.js" }
  %script{ src: "javascripts/foundation/foundation.section.js" }
  %script{ src: "javascripts/foundation/foundation.dropdown.js" }
  %script{ src: "javascripts/foundation/foundation.joyride.js" }
  %script{ src: "javascripts/foundation/foundation.reveal.js" }
  %script{ src: "javascripts/foundation/foundation.placeholder.js" }
  %script{ src: "javascripts/foundation/foundation.tooltips.js" }